## Deliverable 3. Create a Travel Itinerary Map.

In [49]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [50]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,2,puerto ayora,EC,69.01,overcast clouds,-0.74,-90.35,Puerto Ayora
1,12,saint george,US,66.20,clear sky,37.10,-113.58,St. George
2,13,aguimes,ES,71.60,clear sky,27.91,-15.45,"Ingenio, Las Palmas"
3,14,rikitea,PF,73.85,overcast clouds,-23.12,-134.97,Rikitea
4,15,cabo san lucas,MX,79.00,clear sky,22.89,-109.91,Cabo San Lucas

In [9]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [10]:
# 4a. Add a marker layer for each city to the map.
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Grab the first hotel from the results and store the name.
Spain_vacation_df = vacation_df.loc[(vacation_df["Country"] == "ES")]
Spain_vacation_df.dropna()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,13,aguimes,ES,71.60,clear sky,27.91,-15.45,"Ingenio, Las Palmas"
35,106,teguise,ES,68.00,clear sky,29.06,-13.56,Teguise
49,142,muros,ES,66.99,overcast clouds,42.78,-9.06,Muros
135,432,carballo,ES,66.99,overcast clouds,43.21,-8.69,Carballo
160,526,puerto del rosario,ES,69.80,few clouds,28.50,-13.86,Puerto del Rosario
167,547,los llanos de aridane,ES,71.60,clear sky,28.66,-17.92,Los Llanos
200,647,bereda,ES,66.00,overcast clouds,43.27,-7.54,A Feira do Monte

In [12]:
new_column_order = ["City_ID", "City", "Country", "Lat","Lng", "Max Temp", "Current Description"]

In [13]:
Spain_vacation_df = Spain_vacation_df[new_column_order]

In [14]:
Spain_vacation_df

,City_ID,City,Country,Lat,Lng,Max Temp,Current Description
2,13,aguimes,ES,27.91,-15.45,71.60,clear sky
35,106,teguise,ES,29.06,-13.56,68.00,clear sky
49,142,muros,ES,42.78,-9.06,66.99,overcast clouds
135,432,carballo,ES,43.21,-8.69,66.99,overcast clouds
160,526,puerto del rosario,ES,28.50,-13.86,69.80,few clouds
167,547,los llanos de aridane,ES,28.66,-17.92,71.60,clear sky
200,647,bereda,ES,43.27,-7.54,66.00,overcast clouds

In [16]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# Let's pick by Minimum Temp to Maximum Temp cities. 
start = float(input("What is your Starting City_ID from BR List you would like for your trip? "))
stop1 = float(input("What is your First Stop City_ID from BR List you would like for your trip? "))
stop2 = float(input("What is your Second Stop City_ID from BR List you would like for your trip? "))
stop3 = float(input("What is your Thirth Stop City_ID from BR List you would like for your trip? "))
end = float(input("What is your Last City_ID from BR List you would like for your trip? "))

What is your Starting City_ID from BR List you would like for your trip? 13
What is your First Stop City_ID from BR List you would like for your trip? 647
What is your Second Stop City_ID from BR List you would like for your trip? 526
What is your Thirth Stop City_ID from BR List you would like for your trip? 432
What is your Last City_ID from BR List you would like for your trip? 547

In [18]:
## From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = Spain_vacation_df.loc[(Spain_vacation_df["City_ID"] == stop1)]
vacation_start = vacation_start.iloc[0]

vacation_stop1 = Spain_vacation_df.loc[(Spain_vacation_df["City_ID"] == stop2)]
vacation_stop1 = vacation_stop1.iloc[0]

vacation_stop2 = Spain_vacation_df.loc[(Spain_vacation_df["City_ID"] == stop3)]
vacation_stop2 = vacation_stop2.iloc[0]

vacation_stop3 = Spain_vacation_df.loc[(Spain_vacation_df["City_ID"] == end)]
vacation_stop3 = vacation_stop3.iloc[0]

vacation_end = Spain_vacation_df[(Spain_vacation_df["City_ID"] <= end)]
vacation_end = vacation_end.iloc[0]

In [19]:
print("Your Starting Destination is " + vacation_start["City"] + ", " + vacation_start["Country"])
print("Your Frist Stop is " + vacation_stop1["City"] + ", " + vacation_stop1["Country"])
print("Your Second Stop is " + vacation_stop2["City"] + ", " + vacation_stop2["Country"])                                     
print("Your Thirth Stop is " + vacation_stop3["City"] + ", " + vacation_stop3["Country"])                                     
print("Your Last Stop in your vacation is " + vacation_end["City"] + ", " + vacation_end["Country"])

Your Starting Destination is bereda, ES
Your Frist Stop is puerto del rosario, ES
Your Second Stop is carballo, ES
Your Thirth Stop is los llanos de aridane, ES
Your Last Stop in your vacation is aguimes, ES

In [40]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
#start = 
#end = 
#stop1 = 
#stop2 = 
#stop3 =

In [41]:
start = vacation_start[["Lat", "Lng"]]
print(start)

Lat    43.27
Lng    -7.54
Name: 200, dtype: object

In [42]:
stop1 = vacation_stop1[["Lat", "Lng"]]
print(stop1)

Lat     28.5
Lng   -13.86
Name: 160, dtype: object

In [43]:
stop2 = vacation_stop2[["Lat", "Lng"]]
print(stop2)

Lat    43.21
Lng    -8.69
Name: 135, dtype: object

In [44]:
stop3 = vacation_stop3[["Lat", "Lng"]]
print(stop3)

Lat    28.66
Lng   -17.92
Name: 167, dtype: object

In [45]:
end = vacation_end[["Lat", "Lng"]]
print(end)

Lat    27.91
Lng   -15.45
Name: 2, dtype: object

In [48]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

import gmaps
import gmaps.datasets
gmaps.configure(api_key=g_key)

start = (43.27, -7.54)
stop1 = (28.5, -13.86)
stop2 = (43.21, -8.69)
stop3 = (28.66, -17.92)
end = (27.91, -15.45)

fig = gmaps.figure()
sart2end_via_stops = gmaps.directions_layer(
        start, end, waypoints=[stop1, stop2, stop3],
        travel_mode='DRIVING')
fig.add_layer(sart2end_via_stops)
fig

Figure(layout=FigureLayout(height='420px'))

In [27]:
## 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
Spain_vacation_df = pd.concat([Spain_vacation_df],ignore_index=True)
Spain_vacation_df

,City_ID,City,Country,Lat,Lng,Max Temp,Current Description
0,13,aguimes,ES,27.91,-15.45,71.60,clear sky
1,106,teguise,ES,29.06,-13.56,68.00,clear sky
2,142,muros,ES,42.78,-9.06,66.99,overcast clouds
3,432,carballo,ES,43.21,-8.69,66.99,overcast clouds
4,526,puerto del rosario,ES,28.50,-13.86,69.80,few clouds
5,547,los llanos de aridane,ES,28.66,-17.92,71.60,clear sky
6,647,bereda,ES,43.27,-7.54,66.00,overcast clouds

In [29]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in Spain_vacation_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = Spain_vacation_df[["Lat", "Lng"]]

In [32]:
# 11a. Add a marker layer for each city to the map.
city_mark = Spain_vacation_df["City"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))